@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.font-inter {
  font-family: "Inter", sans-serif;
}

.rounded-border-left {
  border-bottom-left-radius: 100px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(52, 211, 153, 1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: 16, 185, 129, 1);
}
